Repository HikaruEgashira/copilot-boost-mode: changes, and which pre-commit hooks are due for each by the changed paths.
All: quality-check, type-check

quality-check:
  name: Quality Check
  entry: bun run quality-check
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Type Check
  entry: bun run typecheck
  language: system
  pass_filenames: false

fix: correct pre-commit security check command
  .pre-commit-config.yaml
Due: none

remove diagnostic
  src/extension.ts
  tests/integration/extension-activation.test.ts
  tests/integration/provider-integration.test.ts
  tests/mocks/ai-sdk-mock.ts
  tests/mocks/vscode-mock.ts
  tests/performance/benchmark.test.ts
  tests/unit/error-handling.test.ts
  tests/unit/logger.test.ts
  tests/unit/providers/anthropic-fixed.test.ts
  tests/unit/providers/anthropic.test.ts
Due: quality-check, type-check

add concepts
  docs/concepts/api-key-management.md
  docs/concepts/multi-provider-support.md
  docs/concepts/vscode-chat-integration.md
Due: none

feat: add VS Code extension testing with @vscode/test-electron
  TESTING.md
  biome.json
  bun.lockb
  package.json
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  tsconfig.json
  tsconfig.test.json
Due: quality-check, type-check

refactor: move VS Code E2E tests to tests/e2e directory
  TESTING.md
  package.json
  tests/e2e/runTest.ts
  tests/e2e/suite/extension.test.ts
  tests/e2e/suite/index.ts
  tsconfig.test.json
Due: quality-check, type-check

feat: enhance E2E tests with comprehensive coverage
  package.json
  src/extension.ts
  tests/e2e/runTest.ts
  tests/e2e/suite/activation.test.ts
  tests/e2e/suite/api-keys.test.ts
  tests/e2e/suite/commands.test.ts
  tests/e2e/suite/dependencies.test.ts
  tests/e2e/suite/lm-api.test.ts
  tests/e2e/suite/providers.test.ts
  tsconfig.json
Due: quality-check, type-check

feat: add real API integration tests with environment variables
  src/extension.ts
  tests/e2e/suite/lm-api.test.ts
Due: quality-check, type-check

feat: add comprehensive tool calling error reproduction tests
  src/extension.ts
  src/providers/anthropic.ts
  tests/e2e/suite/direct-api-test.test.ts
  tests/e2e/suite/manual-setup.test.ts
  tests/e2e/suite/tool-calling-bypass-test.test.ts
  tests/e2e/suite/tool-calling-debug.test.ts
  tests/e2e/suite/tool-calling-error-test.test.ts
  tests/e2e/suite/tool-calling-reproduction.test.ts
  tests/e2e/suite/vscode-secrets-test.test.ts
Due: quality-check, type-check

fix: update ai v5 API - experimental_toolCallStreaming->toolCallStreaming
  src/providers/openai.ts
Due: quality-check, type-check

fix: update ai v5 API - experimental_toolCallStreaming->toolCallStreaming
  src/providers/anthropic.ts
Due: quality-check, type-check

fix: update all @ai-sdk/* to v2 for ai v5 compatibility
  package.json
Due: quality-check

fix: update ai v5 types - ToolResultPart.result->output, Tool.parameters->inputSchema
  src/providers/util.ts
Due: quality-check, type-check

fix: remove toolCallStreaming (removed in ai v5)
  src/providers/openai.ts
Due: quality-check, type-check

fix: remove toolCallStreaming (removed in ai v5)
  src/providers/anthropic.ts
Due: quality-check, type-check

Path conditions:
  quality-check: any of: \.(ts|js|json)$
  type-check: any of: \.ts$
